<div *ngIf='execMissions && execMissions.length'>
    <div  style="float: left">
        <ul>
            <li *ngFor='let mission of execMissions'>
                <h2>{{mission.Name}}</h2>
                <div class='table-responsive'>
                    <table class='table' *ngIf='mission.ExecutionInfo && mission.ExecutionInfo.length'>
                        <thead>
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let exec of mission.ExecutionInfo'>
                                <td> {{ (exec.StartAt !== null) ? (exec.StartAt | date: 'dd/MM/yyyy') : "---" }}</td>
                                <td> {{ (exec.EndAt !== null) ? (exec.EndAt | date: 'dd/MM/yyyy') : "---" }}</td>
                                <td>
                                    <!--a [routerLink]="['/products', product.productId]">Show</a-->
                                    <a href="#" (click)="getExecutedMissionStepsStatuses(exec.ExecutionID)" > Show</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div style="float: left">
        <report-details-statuses [execSteps]="execSteps"></report-details-statuses>
    </div>
</div>